h1 {
    color: var(--color);
    font-size: 2.25rem;
}

h3 {
    color: var(--color);
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

p {
    color: var(--color);
    font-size: 1.05rem;
    line-height: 1.6;
}
