:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 40%,
        white 60%
    );

    --primary: #bb86fc;

    --color: LightGray;

    --h-margin: 5%;
}
html {
    /* font-family: system-ui, sans-serif; */
    font-family: system-ui, sans-serif;
    background: linear-gradient(
        45deg,
        #a45ee5,
        #8f00ff,
        #EDABEF 
    );
    background-size: 400% 400%;
    animation: gradient 20s linear infinite running;

    font-family: Arial, Helvetica, sans-serif;
}
/* code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
} */

@media screen and (min-width: 800px) {
    :root {
        --h-margin: 20%;
    }
    
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}